body, pre {
    background-color: white;
    margin: 20px;
    line-height: 26px;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Sunflower', sans-serif;
}
.container {
    width:auto;
}
.wrapper{
    position: relative;
    overflow: auto;
}




#login {
    text-align: right;
    text-decoration: none;
    margin-right: -30px;
}

#top, #bottom, .menuitem{
    border-radius: 4px;
    margin: 4px;
}

#top{
    text-align: center;
    color: #1b5e20;
    margin-top: -20px;
}

#menubar{
    width: 200px;
    float: left;
    
}

#main{
    padding: 10px;
    margin: 10px 300px;
}

#main-menu{
    padding: 20px 200px 800px ;
    background-image: url(images/box.png)
}

#bottom {
    border: 1px solid #d4d4d4;
    background-color: #f1f1f1;
    text-align: center;
    padding: 10px;
    font-size: 70%;
    line-height: 14px;
}

#top h1 h2{
    padding-top: 1px;
    margin: 0;
}

#top p, #menulist {
    margin: 0;
    padding: 0;
}

#mini-title{
    text-align: left;
}

#small-menu{
    font-size: 20px;
    text-align: center;
    word-spacing: 20px;
    margin-top: 40px;
    
}

#wale-영기{
    float: left;
    clear:both;
}

#wale-혜원{
    float: right;
    clear: both;
}


#td-bord{
    border-bottom: 2px gray;
    border-collapse: collapse;
    
}

#main-login{
    text-align: center;
}

#login-box{
    text-align: center;
    padding: 20px;
    border: none;

}

#user_id{
    width: 200px;
    margin-bottom: 15px;
}

#user_pw{
    width: 200px;
    margin-bottom: 40px;
}

#회원가입-container{
    padding:50px 400px;
}

#buttons{
    padding-top: 10px;
}


.th-year{
    width:10%;
    padding-bottom: 20px;
    border-bottom: solid gray;
}

.mini-title1{
    padding-top: 20px;
}

.mini-title2{
    padding-bottom: 30px;
}

.intro-index{
    text-align: center;
    color: #616161;
    margin: 30px;

}

.small-menuitem{
    padding: 20px;
    cursor: pointer;
    color: white;
    text-decoration: none;
}

.small-menuitem:hover{
    text-decoration: underline red 3px;
    font-weight: bold;
}

.wale-img{
    width: 350px;
    height: 430px;
}

.menuitem{
    background-color: #1b5e20;
    padding: 20px;
    color: white;
}

.menuitem1 {
    list-style-type: none;
    cursor: pointer;
    color: white;
}

.menuitem:hover {
    background-color: #4CAF50;
    font-weight: bold;
}




a {
    color: #000000;
    text-decoration: none;
    padding: 10px;
}

a:hover {
    text-decoration: none;
}


@media (max-width: 800px) {
    #main {
        margin-right: 0;
    }    
       
}

@media (max-width: 600px) {
    #menubar {
        width: auto;
        float: none;
    }
    #main {
        margin: 0;
    }    
}
