.item1 { grid-area: header; }
.item2 { grid-area: menu; }
.item3 { grid-area: main; }
.item4 { grid-area: right; }
.item5 { grid-area: footer; }

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'main main main main main main'
    'menu footer footer footer footer footer';
  grid-gap: 1px;
  background-color: white;
  padding: 5px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}


/* 갤러리 슬라이드 */
body {
  font-size: 11pt;
  padding: 0;
  margin: 0;
  text-align: center;
}

h3 {
  color: #85144b;
  font-size: 14pt;
  margin: 2 auto;
  padding: 2px;
}

.contents {
  width: 30px;
  height: 30px;
  background-color: #d6d6d6;
  margin: 0 ;
}

/* banner */
.banner {
  position: relative;
  width: 50px;
  height: 50px;
  top: 1px;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
}

.banner ul {
  position: absolute;
  margin: 0px;
  padding: 0;
  list-style: none;
}

.banner ul li {
  float: left;
  width: 50px;
  height: 50px;
  margin: 0;
  padding: 0;
}