@charset "utf-8";

*{
	margin:0 auto;
	padding:0;
	list-style:none;
	color:white; 
}
body{
	width: auto;
	background-color: #030303;
	font-size:16px;
	font-family: sans-serif;
}
a{
	text-decoration:none;
	display:block;
}
header{
	height:60px;
	width:auto;
}

header:hover{
	background-color: rgba(0, 0, 0, 0.342);
	box-shadow: 0 7px 20px -7px rgba(255, 255, 255, 0.2);
	transition-duration: 0.8s;
}

.top{             
	height:100px; 
	width:1500px; 
}

.title{
	font-weight: 100;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 20px;
	font-size: 35px;
}
.menu{           
	float:right;
	height:150px; 
	width:800px; 
	z-index:1;  
	margin-top: -85px;
}
.navi{           
	float:right;
	margin-top:30px;
	margin-right:10px;
}
.navi>li{        
	float:left;
}
.navi>li>a{
	height:40px;
	width:150px;
	line-height:40px; 
	font-size:17px;
	text-align:center;
	background-color:none;
	color: white;
	font-weight: 200;
}
.navi>li>a:hover{ 
	transition: all 2s;
	color: silver;
	font-weight: 100;
	
	
}



.search-icon{
	margin-top: 200px;
	margin-left: 720px;
}

input[type=text] {
	width: 0px;
	box-sizing: border-box;
	border-color: black;
	border-radius: 4px;
	font-size: 16px;
	background-color: black;
	background-position: 10px 10px; 
	background-repeat: no-repeat;
	padding: 12px 20px 12px 40px;
	-webkit-transition: width 0.4s ease-in-out;
	transition: width 0.4s ease-in-out;
	margin-top: -95px;
	position: absolute;
	background-image: url('s-removebg-preview.png');
	background-position-y: center;
	
	
  }
  
  input[type=text]:focus {
	margin-left: -100px;
	width: 20%;
  }




#search-text{
	text-align: center;
    padding: 10px;
    font-size: 13px;
    line-height: 30px;
	line-height: 45px;
	letter-spacing: 2px;
	word-spacing: 5px;
	
}

.search-item{
	color: gray;
}



/* gallery */

.gallery-container{
	width: 1500px;
}

div.gallery {
	margin: 17px;
	display: inline-block;
	width: 330px;
	height: 250px;
	margin-top: 50px;
	border: 1px solid white;
  }

  
  div.gallery img {
	width: 100%;
	height: auto;
  }
  
  div.desc {
	padding: 10px;
	text-align: center;
  }



footer{
	margin-top: 400PX;
	width:1200px;
}

#bottom {
	text-align: center;
    padding: 10px;
    font-size: 70%;
    line-height: 30px;
	color: white}






